
    * {
        box-sizing: border-box;
    }

    body, html {        
        margin: 0; 
        height:auto;  
    }

    .navbar{
        background:#222;
        opacity:1;
        height:auto;
        width:350px;
        margin-left:15%;
        padding:0;
    }
    .navbar .title{
        height:250px;
        width:100%;
        margin-left:0;
        padding-bottom:0;
    }
    .navbar .title img {
        width: 100%;
        height:100%;
    }
    .navbar .description{
        height:100px;
        width:90%;
        margin-left:5%;
        margin-top:5%;
        display:none;
    }
    .navbar .description h1{
        color: #777777;
        font-family: "Open Sans"; 
        font-style: italic;
        font-variant: normal;       
        text-align: center;
        font-size:25px;
    }

    /* Search input */
    .navbar .search-box{       
        width:90%;
        margin-left:5%;
    }
    .navbar .search-box input{  
        background:none;
    }
    .navbar .search-box .search-input{
        width: 100%;
		height: 40px;		
		border: 1px solid white;
        color:white;   	
		font-size: 13pt;
		float: left;       
    }  
    .navbar .search-box input#searchHome{
		width: 90%;
		height: 40px;		
		color:white;   	
        font-size: 13pt;
        border:none;
        padding-left:20px;        
    }
	.navbar .search-box input#searchHome::-webkit-input-placeholder {
		color:   white;
		font-family: 'Open Sans';
	}	 
	.navbar .search-box input#searchHome:-moz-placeholder { /* Firefox 18- */
        color:   white;
        font-family: 'Open Sans';
        opacity: 1;
	}	 
	.navbar .search-box input#searchHome::-moz-placeholder {  /* Firefox 19+ */
        color:   white;
        font-family: 'Open Sans';
        opacity: 1;
	}	 
	.navbar .search-box input#searchHome:-ms-input-placeholder {
        color:   white;
        font-family: 'Open Sans';
    }
  

    /* multi-select dropdown */
    .navbar .bootstrap-select .btn {
        height:40px;
        width: 315px;
        background:#222;
        border: 1px solid white;
        border-radius:0;
        color:white;
        font-size: 13pt;       
        padding-left: 20px;	
        margin-top:20px;
    }
    .navbar .bootstrap-select .dropdown-menu {
        width: 315px;              
        color:gray;
        text-align: center;
        background:#222;
        border: 1px solid white;
        border-radius:0;        
        font-size: 13pt;
        -webkit-tap-highlight-color: transparent;        
    }
    .navbar .bootstrap-select .dropdown-item:hover  {
        background: gray;
    }    
    .navbar .btn-search{   
        margin-top:25%;     
        margin-left:5%;
		width:90%;
		height:40px;
        font-size:20px;
        color:#222;
		z-index: 1;
		background:white;
		border:white;
    }

    /* button more option */
    .navbar .advanced{  
        margin-top:10px;      
        margin-left:61%;		
		height:30px;
        font-size:15px;
        color:white;
		z-index: 1;
		background:none;
		border:white;
    }

    /*********************************************************side modal*************************************************************/
    .modal{
        position:absolute;
        margin-left:20px;
        left:40%;        
    }

    .modal-content{
        background:#222;
    }
    /* Modal advanced search header */
    .modal-header{
        width:80%;
        color:white;         
        margin-left:10%;
        text-align: center;
    }
    .modal-header h4{
        font-family: "Mr De Haviland"; 
        font-size:55px;
    }
    /* /* Modal advanced search body */
    /* Search input */
    .modal .search-box{       
        width:90%;   
        margin-left:5%;     
        margin-top:5%;
    }
    .modal .search-box input{  
        background:none;
    }
    .modal .search-box .search-input{
        width: 100%;
		height: 40px;		
		border: 1px solid white;
        color:white;   	
		font-size: 13pt;
		float: left;       
    }  
    .modal .search-box input#advancedSearchHome{
		width: 93%;
		height: 40px;		
		color:white;   	
        font-size: 13pt;
        border:none;
        padding-left:20px;      
	}
	.modal .search-box input#advancedSearchHome::-webkit-input-placeholder {
		color:   white;
		font-family: 'Open Sans';
	}	 
	.modal .search-box input#advancedSearchHome:-moz-placeholder { /* Firefox 18- */
        color:   white;
        font-family: 'Open Sans';
        opacity:1;
	}	 
	.modal .search-box input#advancedSearchHome::-moz-placeholder {  /* Firefox 19+ */
        color:   white;
        font-family: 'Open Sans';
        opacity:1;
	}	 
	.modal .search-box input#advancedSearchHome:-ms-input-placeholder {
        color:   white;
        font-family: 'Open Sans';
	}

    /* multi-select dropdown */   
    .modal .bootstrap-select .btn {
        height:40px;
        width: 420px;
        background:#222;
        border: 1px solid white;
        border-radius:0;
        color:white;
        font-size: 13pt;       
        padding-left: 20px;	
        margin-top:20px;
    }
    .modal .bootstrap-select .dropdown-menu {
        width: 420px;              
        color:gray;
        text-align: center;
        background:#222;
        border: 1px solid white;
        border-radius:0;        
        font-size: 13pt;
        -webkit-tap-highlight-color: transparent;        
    }
    .modal .bootstrap-select .dropdown-item:hover  {
        background: gray;
    } 
    /* Datetimepicker */
    .modal .gj-datepicker{        
        background:#222;
        color:white;
        font-size: 13pt;       
        margin-top:20px;
    }   

    .modal .gj-datepicker .datetimepicker{
        width: 380px;
        height:40px;
        border:1px solid white;      
        color:white;  
        border-radius:0;
        padding-left:20px;
    }
    .modal .gj-datepicker .datetimepicker::-webkit-input-placeholder{
        color:white;
    }
    .modal .gj-datepicker .datetimepicker::-moz-placeholder{
        color:white;
        opacity:1;
    }

    .modal .gj-datepicker .gj-icon{
        width:40px;
        height:40px;
        color:white;
        border-radius:0;
        border:1px solid white;
        text-align:center;
        padding-top:8px;        
    }
    /* Modal datetimepicker */
    div[role="header"] {
        background: #222!important;
    }
    div[role="time"] {
        background: #222!important;
    }
    div[role="footer"] button{
        color:#222!important;
    }

    /* Modal advanced search footer */
    .modal-footer{
        border:none;
    }

    